In [1]:
import os

# data science imports
import numpy as np
import pandas as pd

# sklearn imports
from sklearn.model_selection import train_test_split

# keras/tensorflow imports
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Multiply, Concatenate
from tensorflow.keras.regularizers import l2
from tensorflow.keras.models import Model
# from tensorflow.keras.optimizers import Adagrad, Adam, SGD, RMSprop
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
import tensorflow.keras.backend as K
from tensorflow.keras.models import load_model

# visualization imports
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
movie_path = 'dataset/ml-latest-small/movies.csv'
df_movie = pd.read_csv(movie_path)
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
movieId    9742 non-null int64
title      9742 non-null object
genres     9742 non-null object
dtypes: int64(1), object(2)
memory usage: 228.4+ KB

In [34]:
df_movie.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [35]:
data_path = 'dataset/ml-latest-small/ratings.csv'
df_ratings = pd.read_csv(
    data_path,
    usecols=['userId', 'movieId', 'rating'],
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [36]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 3 columns):
userId     100836 non-null int32
movieId    100836 non-null int32
rating     100836 non-null float32
dtypes: float32(1), int32(2)
memory usage: 1.2 MB

In [37]:
df_ratings.head(10)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0
5       1       70     3.0
6       1      101     5.0
7       1      110     4.0
8       1      151     5.0
9       1      157     5.0

In [38]:
unique_users = df_ratings.userId.unique()
unique_movies = df_ratings.movieId.unique()

In [39]:
len(unique_users)

610

In [40]:
len(unique_movies)

9724

In [55]:
user2index = {user:index for index, user in enumerate(unique_users)}
user2index.tail()

AttributeError: 'dict' object has no attribute 'tail'

In [42]:
index2user = {index:user for user, index in user2index.items()}
index2user

{0: 1,
 1: 2,
 2: 3,
 3: 4,
 4: 5,
 5: 6,
 6: 7,
 7: 8,
 8: 9,
 9: 10,
 10: 11,
 11: 12,
 12: 13,
 13: 14,
 14: 15,
 15: 16,
 16: 17,
 17: 18,
 18: 19,
 19: 20,
 20: 21,
 21: 22,
 22: 23,
 23: 24,
 24: 25,
 25: 26,
 26: 27,
 27: 28,
 28: 29,
 29: 30,
 30: 31,
 31: 32,
 32: 33,
 33: 34,
 34: 35,
 35: 36,
 36: 37,
 37: 38,
 38: 39,
 39: 40,
 40: 41,
 41: 42,
 42: 43,
 43: 44,
 44: 45,
 45: 46,
 46: 47,
 47: 48,
 48: 49,
 49: 50,
 50: 51,
 51: 52,
 52: 53,
 53: 54,
 54: 55,
 55: 56,
 56: 57,
 57: 58,
 58: 59,
 59: 60,
 60: 61,
 61: 62,
 62: 63,
 63: 64,
 64: 65,
 65: 66,
 66: 67,
 67: 68,
 68: 69,
 69: 70,
 70: 71,
 71: 72,
 72: 73,
 73: 74,
 74: 75,
 75: 76,
 76: 77,
 77: 78,
 78: 79,
 79: 80,
 80: 81,
 81: 82,
 82: 83,
 83: 84,
 84: 85,
 85: 86,
 86: 87,
 87: 88,
 88: 89,
 89: 90,
 90: 91,
 91: 92,
 92: 93,
 93: 94,
 94: 95,
 95: 96,
 96: 97,
 97: 98,
 98: 99,
 99: 100,
 100: 101,
 101: 102,
 102: 103,
 103: 104,
 104: 105,
 105: 106,
 106: 107,
 107: 108,
 108: 109,
 109: 110,
 110: 111,
 111: 112,
 112: 113,
 113: 114,
 114: 115,
 115: 116,
 116: 117,
 117: 118,
 118: 119,
 119: 120,
 120: 121,
 121: 122,
 122: 123,
 123: 124,
 124: 125,
 125: 126,
 126: 127,
 127: 128,
 128: 129,
 129: 130,
 130: 131,
 131: 132,
 132: 133,
 133: 134,
 134: 135,
 135: 136,
 136: 137,
 137: 138,
 138: 139,
 139: 140,
 140: 141,
 141: 142,
 142: 143,
 143: 144,
 144: 145,
 145: 146,
 146: 147,
 147: 148,
 148: 149,
 149: 150,
 150: 151,
 151: 152,
 152: 153,
 153: 154,
 154: 155,
 155: 156,
 156: 157,
 157: 158,
 158: 159,
 159: 160,
 160: 161,
 161: 162,
 162: 163,
 163: 164,
 164: 165,
 165: 166,
 166: 167,
 167: 168,
 168: 169,
 169: 170,
 170: 171,
 171: 172,
 172: 173,
 173: 174,
 174: 175,
 175: 176,
 176: 177,
 177: 178,
 178: 179,
 179: 180,
 180: 181,
 181: 182,
 182: 183,
 183: 184,
 184: 185,
 185: 186,
 186: 187,
 187: 188,
 188: 189,
 189: 190,
 190: 191,
 191: 192,
 192: 193,
 193: 194,
 194: 195,
 195: 196,
 196: 197,
 197: 198,
 198: 199,
 199: 200,
 200: 201,
 201: 202,
 202: 203,
 203: 204,
 204: 205,
 205: 206,
 206: 207,
 207: 208,
 208: 209,
 209: 210,
 210: 211,
 211: 212,
 212: 213,
 213: 214,
 214: 215,
 215: 216,
 216: 217,
 217: 218,
 218: 219,
 219: 220,
 220: 221,
 221: 222,
 222: 223,
 223: 224,
 224: 225,
 225: 226,
 226: 227,
 227: 228,
 228: 229,
 229: 230,
 230: 231,
 231: 232,
 232: 233,
 233: 234,
 234: 235,
 235: 236,
 236: 237,
 237: 238,
 238: 239,
 239: 240,
 240: 241,
 241: 242,
 242: 243,
 243: 244,
 244: 245,
 245: 246,
 246: 247,
 247: 248,
 248: 249,
 249: 250,
 250: 251,
 251: 252,
 252: 253,
 253: 254,
 254: 255,
 255: 256,
 256: 257,
 257: 258,
 258: 259,
 259: 260,
 260: 261,
 261: 262,
 262: 263,
 263: 264,
 264: 265,
 265: 266,
 266: 267,
 267: 268,
 268: 269,
 269: 270,
 270: 271,
 271: 272,
 272: 273,
 273: 274,
 274: 275,
 275: 276,
 276: 277,
 277: 278,
 278: 279,
 279: 280,
 280: 281,
 281: 282,
 282: 283,
 283: 284,
 284: 285,
 285: 286,
 286: 287,
 287: 288,
 288: 289,
 289: 290,
 290: 291,
 291: 292,
 292: 293,
 293: 294,
 294: 295,
 295: 296,
 296: 297,
 297: 298,
 298: 299,
 299: 300,
 300: 301,
 301: 302,
 302: 303,
 303: 304,
 304: 305,
 305: 306,
 306: 307,
 307: 308,
 308: 309,
 309: 310,
 310: 311,
 311: 312,
 312: 313,
 313: 314,
 314: 315,
 315: 316,
 316: 317,
 317: 318,
 318: 319,
 319: 320,
 320: 321,
 321: 322,
 322: 323,
 323: 324,
 324: 325,
 325: 326,
 326: 327,
 327: 328,
 328: 329,
 329: 330,
 330: 331,
 331: 332,
 332: 333,
 333: 334,
 334: 335,
 335: 336,
 336: 337,
 337: 338,
 338: 339,
 339: 340,
 340: 341,
 341: 342,
 342: 343,
 343: 344,
 344: 345,
 345: 346,
 346: 347,
 347: 348,
 348: 349,
 349: 350,
 350: 351,
 351: 352,
 352: 353,
 353: 354,
 354: 355,
 355: 356,
 356: 357,
 357: 358,
 358: 359,
 359: 360,
 360: 361,
 361: 362,
 362: 363,
 363: 364,
 364: 365,
 365: 366,
 366: 367,
 367: 368,
 368: 369,
 369: 370,
 370: 371,
 371: 372,
 372: 373,
 373: 374,
 374: 375,
 375: 376,
 376: 377,
 377: 378,
 378: 379,
 379: 380,
 380: 381,
 381: 382,
 382: 383,
 383: 384,
 384: 385,
 385: 386,
 386: 387,
 387: 388,
 388: 389,
 389: 390,
 390: 391,
 391: 392,
 392: 393,
 393: 394,
 394: 395,
 395: 396,
 396: 397,
 397: 398,
 398: 399,
 399: 400,
 400: 401,
 401: 402,
 402: 403,
 403: 404,
 404: 405,
 405: 406,
 406: 407,
 407: 408,
 408: 409,
 409: 410,
 410: 411,
 411: 412,
 412: 413,
 413: 414,
 414: 415,
 415: 416,
 416: 417,
 417: 418,
 418: 419,
 419: 420,
 420: 421,
 421: 422,
 422: 423,
 423: 424,
 424: 425,
 425: 426,
 426: 427,
 427: 428,
 428: 429,
 429: 430,
 430: 431,
 431: 432,
 432: 433,
 433: 434,
 434: 435,
 435: 436,
 436: 437,
 437: 438,
 438: 439,
 439: 440,
 440: 441,
 441: 442,
 442: 443,
 443: 444,
 444: 445,
 445: 446,
 446: 447,
 447: 448,
 448: 449,
 449: 450,
 450: 451,
 451: 452,
 452: 453,
 453: 454,
 454: 455,
 455: 456,
 456: 457,
 457: 458,
 458: 459,
 459: 460,
 460: 461,
 461: 462,
 462: 463,
 463: 464,
 464: 465,
 465: 466,
 466: 467,
 467: 468,
 468: 469,
 469: 470,
 470: 471,
 471: 472,
 472: 473,
 473: 474,
 474: 475,
 475: 476,
 476: 477,
 477: 478,
 478: 479,
 479: 480,
 480: 481,
 481: 482,
 482: 483,
 483: 484,
 484: 485,
 485: 486,
 486: 487,
 487: 488,
 488: 489,
 489: 490,
 490: 491,
 491: 492,
 492: 493,
 493: 494,
 494: 495,
 495: 496,
 496: 497,
 497: 498,
 498: 499,
 499: 500,
 500: 501,
 501: 502,
 502: 503,
 503: 504,
 504: 505,
 505: 506,
 506: 507,
 507: 508,
 508: 509,
 509: 510,
 510: 511,
 511: 512,
 512: 513,
 513: 514,
 514: 515,
 515: 516,
 516: 517,
 517: 518,
 518: 519,
 519: 520,
 520: 521,
 521: 522,
 522: 523,
 523: 524,
 524: 525,
 525: 526,
 526: 527,
 527: 528,
 528: 529,
 529: 530,
 530: 531,
 531: 532,
 532: 533,
 533: 534,
 534: 535,
 535: 536,
 536: 537,
 537: 538,
 538: 539,
 539: 540,
 540: 541,
 541: 542,
 542: 543,
 543: 544,
 544: 545,
 545: 546,
 546: 547,
 547: 548,
 548: 549,
 549: 550,
 550: 551,
 551: 552,
 552: 553,
 553: 554,
 554: 555,
 555: 556,
 556: 557,
 557: 558,
 558: 559,
 559: 560,
 560: 561,
 561: 562,
 562: 563,
 563: 564,
 564: 565,
 565: 566,
 566: 567,
 567: 568,
 568: 569,
 569: 570,
 570: 571,
 571: 572,
 572: 573,
 573: 574,
 574: 575,
 575: 576,
 576: 577,
 577: 578,
 578: 579,
 579: 580,
 580: 581,
 581: 582,
 582: 583,
 583: 584,
 584: 585,
 585: 586,
 586: 587,
 587: 588,
 588: 589,
 589: 590,
 590: 591,
 591: 592,
 592: 593,
 593: 594,
 594: 595,
 595: 596,
 596: 597,
 597: 598,
 598: 599,
 599: 600,
 600: 601,
 601: 602,
 602: 603,
 603: 604,
 604: 605,
 605: 606,
 606: 607,
 607: 608,
 608: 609,
 609: 610}

In [43]:
movie2index = {movie:index for index, movie in enumerate(unique_movies)}
movie2index

{1: 0,
 3: 1,
 6: 2,
 47: 3,
 50: 4,
 70: 5,
 101: 6,
 110: 7,
 151: 8,
 157: 9,
 163: 10,
 216: 11,
 223: 12,
 231: 13,
 235: 14,
 260: 15,
 296: 16,
 316: 17,
 333: 18,
 349: 19,
 356: 20,
 362: 21,
 367: 22,
 423: 23,
 441: 24,
 457: 25,
 480: 26,
 500: 27,
 527: 28,
 543: 29,
 552: 30,
 553: 31,
 590: 32,
 592: 33,
 593: 34,
 596: 35,
 608: 36,
 648: 37,
 661: 38,
 673: 39,
 733: 40,
 736: 41,
 780: 42,
 804: 43,
 919: 44,
 923: 45,
 940: 46,
 943: 47,
 954: 48,
 1009: 49,
 1023: 50,
 1024: 51,
 1025: 52,
 1029: 53,
 1030: 54,
 1031: 55,
 1032: 56,
 1042: 57,
 1049: 58,
 1060: 59,
 1073: 60,
 1080: 61,
 1089: 62,
 1090: 63,
 1092: 64,
 1097: 65,
 1127: 66,
 1136: 67,
 1196: 68,
 1197: 69,
 1198: 70,
 1206: 71,
 1208: 72,
 1210: 73,
 1213: 74,
 1214: 75,
 1219: 76,
 1220: 77,
 1222: 78,
 1224: 79,
 1226: 80,
 1240: 81,
 1256: 82,
 1258: 83,
 1265: 84,
 1270: 85,
 1275: 86,
 1278: 87,
 1282: 88,
 1291: 89,
 1298: 90,
 1348: 91,
 1377: 92,
 1396: 93,
 1408: 94,
 1445: 95,
 1473: 96,
 1500: 97,
 1517: 98,
 1552: 99,
 1573: 100,
 1580: 101,
 1587: 102,
 1617: 103,
 1620: 104,
 1625: 105,
 1644: 106,
 1676: 107,
 1732: 108,
 1777: 109,
 1793: 110,
 1804: 111,
 1805: 112,
 1920: 113,
 1927: 114,
 1954: 115,
 1967: 116,
 2000: 117,
 2005: 118,
 2012: 119,
 2018: 120,
 2028: 121,
 2033: 122,
 2046: 123,
 2048: 124,
 2054: 125,
 2058: 126,
 2078: 127,
 2090: 128,
 2093: 129,
 2094: 130,
 2096: 131,
 2099: 132,
 2105: 133,
 2115: 134,
 2116: 135,
 2137: 136,
 2139: 137,
 2141: 138,
 2143: 139,
 2161: 140,
 2174: 141,
 2193: 142,
 2253: 143,
 2268: 144,
 2273: 145,
 2291: 146,
 2329: 147,
 2338: 148,
 2353: 149,
 2366: 150,
 2387: 151,
 2389: 152,
 2395: 153,
 2406: 154,
 2414: 155,
 2427: 156,
 2450: 157,
 2459: 158,
 2470: 159,
 2478: 160,
 2492: 161,
 2502: 162,
 2528: 163,
 2529: 164,
 2542: 165,
 2571: 166,
 2580: 167,
 2596: 168,
 2616: 169,
 2617: 170,
 2628: 171,
 2640: 172,
 2641: 173,
 2644: 174,
 2648: 175,
 2654: 176,
 2657: 177,
 2692: 178,
 2700: 179,
 2716: 180,
 2761: 181,
 2797: 182,
 2826: 183,
 2858: 184,
 2872: 185,
 2899: 186,
 2916: 187,
 2944: 188,
 2947: 189,
 2948: 190,
 2949: 191,
 2959: 192,
 2985: 193,
 2987: 194,
 2991: 195,
 2993: 196,
 2997: 197,
 3033: 198,
 3034: 199,
 3052: 200,
 3053: 201,
 3062: 202,
 3147: 203,
 3168: 204,
 3176: 205,
 3243: 206,
 3247: 207,
 3253: 208,
 3273: 209,
 3386: 210,
 3439: 211,
 3440: 212,
 3441: 213,
 3448: 214,
 3450: 215,
 3479: 216,
 3489: 217,
 3527: 218,
 3578: 219,
 3617: 220,
 3639: 221,
 3671: 222,
 3702: 223,
 3703: 224,
 3729: 225,
 3740: 226,
 3744: 227,
 3793: 228,
 3809: 229,
 4006: 230,
 5060: 231,
 318: 232,
 1704: 233,
 6874: 234,
 8798: 235,
 46970: 236,
 48516: 237,
 58559: 238,
 60756: 239,
 68157: 240,
 71535: 241,
 74458: 242,
 77455: 243,
 79132: 244,
 80489: 245,
 80906: 246,
 86345: 247,
 89774: 248,
 91529: 249,
 91658: 250,
 99114: 251,
 106782: 252,
 109487: 253,
 112552: 254,
 114060: 255,
 115713: 256,
 122882: 257,
 131724: 258,
 31: 259,
 647: 260,
 688: 261,
 720: 262,
 849: 263,
 914: 264,
 1093: 265,
 1124: 266,
 1263: 267,
 1272: 268,
 1302: 269,
 1371: 270,
 2080: 271,
 2288: 272,
 2424: 273,
 2851: 274,
 3024: 275,
 3210: 276,
 3949: 277,
 4518: 278,
 5048: 279,
 5181: 280,
 5746: 281,
 5764: 282,
 5919: 283,
 6238: 284,
 6835: 285,
 7899: 286,
 7991: 287,
 26409: 288,
 70946: 289,
 72378: 290,
 21: 291,
 32: 292,
 45: 293,
 52: 294,
 58: 295,
 106: 296,
 125: 297,
 126: 298,
 162: 299,
 171: 300,
 176: 301,
 190: 302,
 215: 303,
 222: 304,
 232: 305,
 247: 306,
 265: 307,
 319: 308,
 342: 309,
 345: 310,
 348: 311,
 351: 312,
 357: 313,
 368: 314,
 417: 315,
 450: 316,
 475: 317,
 492: 318,
 509: 319,
 538: 320,
 539: 321,
 588: 322,
 595: 323,
 599: 324,
 708: 325,
 759: 326,
 800: 327,
 892: 328,
 898: 329,
 899: 330,
 902: 331,
 904: 332,
 908: 333,
 910: 334,
 912: 335,
 920: 336,
 930: 337,
 937: 338,
 1046: 339,
 1057: 340,
 1077: 341,
 1079: 342,
 1084: 343,
 1086: 344,
 1094: 345,
 1103: 346,
 1179: 347,
 1183: 348,
 1188: 349,
 1199: 350,
 1203: 351,
 1211: 352,
 1225: 353,
 1250: 354,
 1259: 355,
 1266: 356,
 1279: 357,
 1283: 358,
 1288: 359,
 1304: 360,
 1391: 361,
 1449: 362,
 1466: 363,
 1597: 364,
 1641: 365,
 1719: 366,
 1733: 367,
 1734: 368,
 1834: 369,
 1860: 370,
 1883: 371,
 1885: 372,
 1892: 373,
 1895: 374,
 1907: 375,
 1914: 376,
 1916: 377,
 1923: 378,
 1947: 379,
 1966: 380,
 1968: 381,
 2019: 382,
 2076: 383,
 2109: 384,
 2145: 385,
 2150: 386,
 2186: 387,
 2203: 388,
 2204: 389,
 2282: 390,
 2324: 391,
 2336: 392,
 2351: 393,
 2359: 394,
 2390: 395,
 2467: 396,
 2583: 397,
 2599: 398,
 2683: 399,
 2712: 400,
 2762: 401,
 2763: 402,
 2770: 403,
 2791: 404,
 2843: 405,
 2874: 406,
 2921: 407,
 2926: 408,
 2973: 409,
 3044: 410,
 3060: 411,
 3079: 412,
 3083: 413,
 3160: 414,
 3175: 415,
 3204: 416,
 3255: 417,
 3317: 418,
 3358: 419,
 3365: 420,
 3408: 421,
 3481: 422,
 3508: 423,
 3538: 424,
 3591: 425,
 3788: 426,
 3851: 427,
 3897: 428,
 3911: 429,
 3967: 430,
 3996: 431,
 4002: 432,
 4014: 433,
 4020: 434,
 4021: 435,
 4027: 436,
 4029: 437,
 4033: 438,
 4034: 439,
 4074: 440,
 4121: 441,
 4144: 442,
 4166: 443,
 4226: 444,
 4239: 445,
 4246: 446,
 4252: 447,
 4260: 448,
 4273: 449,
 4308: 450,
 4347: 451,
 4381: 452,
 4641: 453,
 4741: 454,
 4765: 455,
 4881: 456,
 4896: 457,
 4902: 458,
 4967: 459,
 34: 460,
 36: 461,
 39: 462,
 150: 463,
 153: 464,
 253: 465,
 261: 466,
 266: 467,
 290: 468,
 300: 469,
 344: 470,
 364: 471,
 380: 472,
 410: 473,
 474: 474,
 515: 475,
 531: 476,
 534: 477,
 589: 478,
 594: 479,
 597: 480,
 2: 481,
 4: 482,
 5: 483,
 7: 484,
 8: 485,
 10: 486,
 11: 487,
 13: 488,
 15: 489,
 16: 490,
 17: 491,
 19: 492,
 22: 493,
 24: 494,
 25: 495,
 26: 496,
 27: 497,
 41: 498,
 43: 499,
 46: 500,
 54: 501,
 60: 502,
 61: 503,
 62: 504,
 65: 505,
 66: 506,
 76: 507,
 79: 508,
 86: 509,
 87: 510,
 88: 511,
 89: 512,
 92: 513,
 93: 514,
 95: 515,
 100: 516,
 102: 517,
 104: 518,
 105: 519,
 112: 520,
 113: 521,
 135: 522,
 140: 523,
 141: 524,
 145: 525,
 146: 526,
 158: 527,
 159: 528,
 160: 529,
 161: 530,
 165: 531,
 168: 532,
 170: 533,
 174: 534,
 177: 535,
 179: 536,
 180: 537,
 181: 538,
 185: 539,
 186: 540,
 189: 541,
 191: 542,
 195: 543,
 196: 544,
 201: 545,
 204: 546,
 205: 547,
 207: 548,
 208: 549,
 209: 550,
 210: 551,
 212: 552,
 217: 553,
 218: 554,
 219: 555,
 224: 556,
 225: 557,
 230: 558,
 234: 559,
 236: 560,
 237: 561,
 239: 562,
 240: 563,
 243: 564,
 248: 565,
 250: 566,
 251: 567,
 252: 568,
 254: 569,
 256: 570,
 257: 571,
 258: 572,
 262: 573,
 267: 574,
 270: 575,
 271: 576,
 273: 577,
 274: 578,
 276: 579,
 277: 580,
 279: 581,
 281: 582,
 282: 583,
 288: 584,
 289: 585,
 291: 586,
 292: 587,
 293: 588,
 302: 589,
 303: 590,
 304: 591,
 310: 592,
 312: 593,
 313: 594,
 314: 595,
 315: 596,
 317: 597,
 327: 598,
 329: 599,
 330: 600,
 332: 601,
 336: 602,
 337: 603,
 339: 604,
 340: 605,
 343: 606,
 347: 607,
 350: 608,
 352: 609,
 353: 610,
 354: 611,
 355: 612,
 358: 613,
 359: 614,
 360: 615,
 361: 616,
 366: 617,
 370: 618,
 371: 619,
 374: 620,
 377: 621,
 378: 622,
 381: 623,
 382: 624,
 383: 625,
 405: 626,
 412: 627,
 415: 628,
 416: 629,
 419: 630,
 426: 631,
 432: 632,
 434: 633,
 435: 634,
 437: 635,
 440: 636,
 445: 637,
 454: 638,
 455: 639,
 458: 640,
 460: 641,
 466: 642,
 468: 643,
 469: 644,
 472: 645,
 477: 646,
 485: 647,
 489: 648,
 490: 649,
 491: 650,
 493: 651,
 494: 652,
 497: 653,
 502: 654,
 505: 655,
 508: 656,
 510: 657,
 516: 658,
 520: 659,
 524: 660,
 532: 661,
 536: 662,
 537: 663,
 540: 664,
 542: 665,
 546: 666,
 548: 667,
 569: 668,
 575: 669,
 587: 670,
 606: 671,
 609: 672,
 616: 673,
 628: 674,
 631: 675,
 637: 676,
 640: 677,
 662: 678,
 667: 679,
 694: 680,
 697: 681,
 700: 682,
 704: 683,
 709: 684,
 710: 685,
 711: 686,
 719: 687,
 747: 688,
 762: 689,
 765: 690,
 775: 691,
 783: 692,
 795: 693,
 799: 694,
 801: 695,
 802: 696,
 818: 697,
 830: 698,
 835: 699,
 837: 700,
 838: 701,
 839: 702,
 842: 703,
 848: 704,
 852: 705,
 867: 706,
 880: 707,
 881: 708,
 888: 709,
 891: 710,
 979: 711,
 981: 712,
 986: 713,
 991: 714,
 996: 715,
 999: 716,
 1004: 717,
 1006: 718,
 1061: 719,
 1064: 720,
 1082: 721,
 750: 722,
 924: 723,
 1101: 724,
 1246: 725,
 1584: 726,
 1610: 727,
 1682: 728,
 1784: 729,
 1917: 730,
 2671: 731,
 2688: 732,
 2701: 733,
 2717: 734,
 3114: 735,
 3354: 736,
 3623: 737,
 3869: 738,
 3916: 739,
 3977: 740,
 3994: 741,
 4018: 742,
 4223: 743,
 4306: 744,
 4310: 745,
 4370: 746,
 4643: 747,
 4700: 748,
 4844: 749,
 4874: 750,
 4886: 751,
 4963: 752,
 4993: 753,
 4995: 754,
 5218: 755,
 5349: 756,
 5378: 757,
 5445: 758,
 5459: 759,
 5464: 760,
 5502: 761,
 5618: 762,
 5816: 763,
 5952: 764,
 5989: 765,
 5991: 766,
 6333: 767,
 6365: 768,
 6534: 769,
 6539: 770,
 6863: 771,
 6934: 772,
 7143: 773,
 7153: 774,
 7155: 775,
 7445: 776,
 8207: 777,
 8360: 778,
 8368: 779,
 8373: 780,
 8528: 781,
 8636: 782,
 8665: 783,
 8666: 784,
 8783: 785,
 8808: 786,
 8865: 787,
 8870: 788,
 8907: 789,
 8908: 790,
 8949: 791,
 8957: 792,
 8958: 793,
 8961: 794,
 8965: 795,
 8970: 796,
 8972: 797,
 8984: 798,
 27741: 799,
 30812: 800,
 30816: 801,
 31878: 802,
 32029: 803,
 32031: 804,
 32296: 805,
 32587: 806,
 33162: 807,
 33493: 808,
 33794: 809,
 33836: 810,
 34048: 811,
 34319: 812,
 37741: 813,
 38388: 814,
 42002: 815,
 45499: 816,
 45517: 817,
 45668: 818,
 45730: 819,
 46530: 820,
 48783: 821,
 48997: 822,
 49272: 823,
 49278: 824,
 49286: 825,
 49824: 826,
 586: 827,
 187: 828,
 627: 829,
 922: 830,
 1037: 831,
 1095: 832,
 1674: 833,
 1987: 834,
 2011: 835,
 2023: 836,
 2300: 837,
 2877: 838,
 2901: 839,
 3173: 840,
 3328: 841,
 3735: 842,
 4131: 843,
 4558: 844,
 5447: 845,
 5451: 846,
 5481: 847,
 5507: 848,
 5841: 849,
 5843: 850,
 5872: 851,
 5890: 852,
 5891: 853,
 5893: 854,
 5902: 855,
 5956: 856,
 5962: 857,
 5965: 858,
 5988: 859,
 6001: 860,
 6044: 861,
 1028: 862,
 1088: 863,
 1247: 864,
 1307: 865,
 3882: 866,
 4447: 867,
 5066: 868,
 5377: 869,
 5620: 870,
 5943: 871,
 5957: 872,
 6155: 873,
 6266: 874,
 6377: 875,
 6535: 876,
 6942: 877,
 7149: 878,
 7151: 879,
 7154: 880,
 7169: 881,
 7293: 882,
 7375: 883,
 7451: 884,
 7458: 885,
 8529: 886,
 8533: 887,
 8869: 888,
 8969: 889,
 30749: 890,
 31433: 891,
 31685: 892,
 33145: 893,
 33679: 894,
 40629: 895,
 40819: 896,
 41285: 897,
 47099: 898,
 51662: 899,
 51705: 900,
 51834: 901,
 54286: 902,
 56367: 903,
 56949: 904,
 58047: 905,
 59333: 906,
 59421: 907,
 60397: 908,
 60950: 909,
 61250: 910,
 63113: 911,
 63992: 912,
 64969: 913,
 66203: 914,
 68954: 915,
 69406: 916,
 69844: 917,
 70183: 918,
 70293: 919,
 71579: 920,
 72011: 921,
 72330: 922,
 72407: 923,
 72720: 924,
 72737: 925,
 72998: 926,
 73017: 927,
 74450: 928,
 77841: 929,
 78772: 930,
 79091: 931,
 80549: 932,
 81784: 933,
 81845: 934,
 81847: 935,
 82167: 936,
 82499: 937,
 84374: 938,
 86548: 939,
 87222: 940,
 88163: 941,
 88810: 942,
 91104: 943,
 92259: 944,
 94070: 945,
 95167: 946,
 95449: 947,
 95510: 948,
 95543: 949,
 96079: 950,
 97024: 951,
 97938: 952,
 98203: 953,
 103335: 954,
 103339: 955,
 104374: 956,
 105211: 957,
 106489: 958,
 106696: 959,
 107141: 960,
 109374: 961,
 109853: 962,
 112006: 963,
 113275: 964,
 113394: 965,
 119145: 966,
 129428: 967,
 136020: 968,
 137595: 969,
 140110: 970,
 44: 971,
 376: 972,
 511: 973,
 529: 974,
 1100: 975,
 1358: 976,
 1370: 977,
 1385: 978,
 1438: 979,
 1518: 980,
 1586: 981,
 1604: 982,
 1608: 983,
 1616: 984,
 1687: 985,
 1693: 986,
 1721: 987,
 1840: 988,
 1882: 989,
 1918: 990,
 2002: 991,
 2027: 992,
 1357: 993,
 1405: 994,
 1876: 995,
 2072: 996,
 2100: 997,
 2421: 998,
 2485: 999,
 ...}

In [44]:
index2movie = {index:movie for movie, index in movie2index.items()}
index2movie

{0: 1,
 1: 3,
 2: 6,
 3: 47,
 4: 50,
 5: 70,
 6: 101,
 7: 110,
 8: 151,
 9: 157,
 10: 163,
 11: 216,
 12: 223,
 13: 231,
 14: 235,
 15: 260,
 16: 296,
 17: 316,
 18: 333,
 19: 349,
 20: 356,
 21: 362,
 22: 367,
 23: 423,
 24: 441,
 25: 457,
 26: 480,
 27: 500,
 28: 527,
 29: 543,
 30: 552,
 31: 553,
 32: 590,
 33: 592,
 34: 593,
 35: 596,
 36: 608,
 37: 648,
 38: 661,
 39: 673,
 40: 733,
 41: 736,
 42: 780,
 43: 804,
 44: 919,
 45: 923,
 46: 940,
 47: 943,
 48: 954,
 49: 1009,
 50: 1023,
 51: 1024,
 52: 1025,
 53: 1029,
 54: 1030,
 55: 1031,
 56: 1032,
 57: 1042,
 58: 1049,
 59: 1060,
 60: 1073,
 61: 1080,
 62: 1089,
 63: 1090,
 64: 1092,
 65: 1097,
 66: 1127,
 67: 1136,
 68: 1196,
 69: 1197,
 70: 1198,
 71: 1206,
 72: 1208,
 73: 1210,
 74: 1213,
 75: 1214,
 76: 1219,
 77: 1220,
 78: 1222,
 79: 1224,
 80: 1226,
 81: 1240,
 82: 1256,
 83: 1258,
 84: 1265,
 85: 1270,
 86: 1275,
 87: 1278,
 88: 1282,
 89: 1291,
 90: 1298,
 91: 1348,
 92: 1377,
 93: 1396,
 94: 1408,
 95: 1445,
 96: 1473,
 97: 1500,
 98: 1517,
 99: 1552,
 100: 1573,
 101: 1580,
 102: 1587,
 103: 1617,
 104: 1620,
 105: 1625,
 106: 1644,
 107: 1676,
 108: 1732,
 109: 1777,
 110: 1793,
 111: 1804,
 112: 1805,
 113: 1920,
 114: 1927,
 115: 1954,
 116: 1967,
 117: 2000,
 118: 2005,
 119: 2012,
 120: 2018,
 121: 2028,
 122: 2033,
 123: 2046,
 124: 2048,
 125: 2054,
 126: 2058,
 127: 2078,
 128: 2090,
 129: 2093,
 130: 2094,
 131: 2096,
 132: 2099,
 133: 2105,
 134: 2115,
 135: 2116,
 136: 2137,
 137: 2139,
 138: 2141,
 139: 2143,
 140: 2161,
 141: 2174,
 142: 2193,
 143: 2253,
 144: 2268,
 145: 2273,
 146: 2291,
 147: 2329,
 148: 2338,
 149: 2353,
 150: 2366,
 151: 2387,
 152: 2389,
 153: 2395,
 154: 2406,
 155: 2414,
 156: 2427,
 157: 2450,
 158: 2459,
 159: 2470,
 160: 2478,
 161: 2492,
 162: 2502,
 163: 2528,
 164: 2529,
 165: 2542,
 166: 2571,
 167: 2580,
 168: 2596,
 169: 2616,
 170: 2617,
 171: 2628,
 172: 2640,
 173: 2641,
 174: 2644,
 175: 2648,
 176: 2654,
 177: 2657,
 178: 2692,
 179: 2700,
 180: 2716,
 181: 2761,
 182: 2797,
 183: 2826,
 184: 2858,
 185: 2872,
 186: 2899,
 187: 2916,
 188: 2944,
 189: 2947,
 190: 2948,
 191: 2949,
 192: 2959,
 193: 2985,
 194: 2987,
 195: 2991,
 196: 2993,
 197: 2997,
 198: 3033,
 199: 3034,
 200: 3052,
 201: 3053,
 202: 3062,
 203: 3147,
 204: 3168,
 205: 3176,
 206: 3243,
 207: 3247,
 208: 3253,
 209: 3273,
 210: 3386,
 211: 3439,
 212: 3440,
 213: 3441,
 214: 3448,
 215: 3450,
 216: 3479,
 217: 3489,
 218: 3527,
 219: 3578,
 220: 3617,
 221: 3639,
 222: 3671,
 223: 3702,
 224: 3703,
 225: 3729,
 226: 3740,
 227: 3744,
 228: 3793,
 229: 3809,
 230: 4006,
 231: 5060,
 232: 318,
 233: 1704,
 234: 6874,
 235: 8798,
 236: 46970,
 237: 48516,
 238: 58559,
 239: 60756,
 240: 68157,
 241: 71535,
 242: 74458,
 243: 77455,
 244: 79132,
 245: 80489,
 246: 80906,
 247: 86345,
 248: 89774,
 249: 91529,
 250: 91658,
 251: 99114,
 252: 106782,
 253: 109487,
 254: 112552,
 255: 114060,
 256: 115713,
 257: 122882,
 258: 131724,
 259: 31,
 260: 647,
 261: 688,
 262: 720,
 263: 849,
 264: 914,
 265: 1093,
 266: 1124,
 267: 1263,
 268: 1272,
 269: 1302,
 270: 1371,
 271: 2080,
 272: 2288,
 273: 2424,
 274: 2851,
 275: 3024,
 276: 3210,
 277: 3949,
 278: 4518,
 279: 5048,
 280: 5181,
 281: 5746,
 282: 5764,
 283: 5919,
 284: 6238,
 285: 6835,
 286: 7899,
 287: 7991,
 288: 26409,
 289: 70946,
 290: 72378,
 291: 21,
 292: 32,
 293: 45,
 294: 52,
 295: 58,
 296: 106,
 297: 125,
 298: 126,
 299: 162,
 300: 171,
 301: 176,
 302: 190,
 303: 215,
 304: 222,
 305: 232,
 306: 247,
 307: 265,
 308: 319,
 309: 342,
 310: 345,
 311: 348,
 312: 351,
 313: 357,
 314: 368,
 315: 417,
 316: 450,
 317: 475,
 318: 492,
 319: 509,
 320: 538,
 321: 539,
 322: 588,
 323: 595,
 324: 599,
 325: 708,
 326: 759,
 327: 800,
 328: 892,
 329: 898,
 330: 899,
 331: 902,
 332: 904,
 333: 908,
 334: 910,
 335: 912,
 336: 920,
 337: 930,
 338: 937,
 339: 1046,
 340: 1057,
 341: 1077,
 342: 1079,
 343: 1084,
 344: 1086,
 345: 1094,
 346: 1103,
 347: 1179,
 348: 1183,
 349: 1188,
 350: 1199,
 351: 1203,
 352: 1211,
 353: 1225,
 354: 1250,
 355: 1259,
 356: 1266,
 357: 1279,
 358: 1283,
 359: 1288,
 360: 1304,
 361: 1391,
 362: 1449,
 363: 1466,
 364: 1597,
 365: 1641,
 366: 1719,
 367: 1733,
 368: 1734,
 369: 1834,
 370: 1860,
 371: 1883,
 372: 1885,
 373: 1892,
 374: 1895,
 375: 1907,
 376: 1914,
 377: 1916,
 378: 1923,
 379: 1947,
 380: 1966,
 381: 1968,
 382: 2019,
 383: 2076,
 384: 2109,
 385: 2145,
 386: 2150,
 387: 2186,
 388: 2203,
 389: 2204,
 390: 2282,
 391: 2324,
 392: 2336,
 393: 2351,
 394: 2359,
 395: 2390,
 396: 2467,
 397: 2583,
 398: 2599,
 399: 2683,
 400: 2712,
 401: 2762,
 402: 2763,
 403: 2770,
 404: 2791,
 405: 2843,
 406: 2874,
 407: 2921,
 408: 2926,
 409: 2973,
 410: 3044,
 411: 3060,
 412: 3079,
 413: 3083,
 414: 3160,
 415: 3175,
 416: 3204,
 417: 3255,
 418: 3317,
 419: 3358,
 420: 3365,
 421: 3408,
 422: 3481,
 423: 3508,
 424: 3538,
 425: 3591,
 426: 3788,
 427: 3851,
 428: 3897,
 429: 3911,
 430: 3967,
 431: 3996,
 432: 4002,
 433: 4014,
 434: 4020,
 435: 4021,
 436: 4027,
 437: 4029,
 438: 4033,
 439: 4034,
 440: 4074,
 441: 4121,
 442: 4144,
 443: 4166,
 444: 4226,
 445: 4239,
 446: 4246,
 447: 4252,
 448: 4260,
 449: 4273,
 450: 4308,
 451: 4347,
 452: 4381,
 453: 4641,
 454: 4741,
 455: 4765,
 456: 4881,
 457: 4896,
 458: 4902,
 459: 4967,
 460: 34,
 461: 36,
 462: 39,
 463: 150,
 464: 153,
 465: 253,
 466: 261,
 467: 266,
 468: 290,
 469: 300,
 470: 344,
 471: 364,
 472: 380,
 473: 410,
 474: 474,
 475: 515,
 476: 531,
 477: 534,
 478: 589,
 479: 594,
 480: 597,
 481: 2,
 482: 4,
 483: 5,
 484: 7,
 485: 8,
 486: 10,
 487: 11,
 488: 13,
 489: 15,
 490: 16,
 491: 17,
 492: 19,
 493: 22,
 494: 24,
 495: 25,
 496: 26,
 497: 27,
 498: 41,
 499: 43,
 500: 46,
 501: 54,
 502: 60,
 503: 61,
 504: 62,
 505: 65,
 506: 66,
 507: 76,
 508: 79,
 509: 86,
 510: 87,
 511: 88,
 512: 89,
 513: 92,
 514: 93,
 515: 95,
 516: 100,
 517: 102,
 518: 104,
 519: 105,
 520: 112,
 521: 113,
 522: 135,
 523: 140,
 524: 141,
 525: 145,
 526: 146,
 527: 158,
 528: 159,
 529: 160,
 530: 161,
 531: 165,
 532: 168,
 533: 170,
 534: 174,
 535: 177,
 536: 179,
 537: 180,
 538: 181,
 539: 185,
 540: 186,
 541: 189,
 542: 191,
 543: 195,
 544: 196,
 545: 201,
 546: 204,
 547: 205,
 548: 207,
 549: 208,
 550: 209,
 551: 210,
 552: 212,
 553: 217,
 554: 218,
 555: 219,
 556: 224,
 557: 225,
 558: 230,
 559: 234,
 560: 236,
 561: 237,
 562: 239,
 563: 240,
 564: 243,
 565: 248,
 566: 250,
 567: 251,
 568: 252,
 569: 254,
 570: 256,
 571: 257,
 572: 258,
 573: 262,
 574: 267,
 575: 270,
 576: 271,
 577: 273,
 578: 274,
 579: 276,
 580: 277,
 581: 279,
 582: 281,
 583: 282,
 584: 288,
 585: 289,
 586: 291,
 587: 292,
 588: 293,
 589: 302,
 590: 303,
 591: 304,
 592: 310,
 593: 312,
 594: 313,
 595: 314,
 596: 315,
 597: 317,
 598: 327,
 599: 329,
 600: 330,
 601: 332,
 602: 336,
 603: 337,
 604: 339,
 605: 340,
 606: 343,
 607: 347,
 608: 350,
 609: 352,
 610: 353,
 611: 354,
 612: 355,
 613: 358,
 614: 359,
 615: 360,
 616: 361,
 617: 366,
 618: 370,
 619: 371,
 620: 374,
 621: 377,
 622: 378,
 623: 381,
 624: 382,
 625: 383,
 626: 405,
 627: 412,
 628: 415,
 629: 416,
 630: 419,
 631: 426,
 632: 432,
 633: 434,
 634: 435,
 635: 437,
 636: 440,
 637: 445,
 638: 454,
 639: 455,
 640: 458,
 641: 460,
 642: 466,
 643: 468,
 644: 469,
 645: 472,
 646: 477,
 647: 485,
 648: 489,
 649: 490,
 650: 491,
 651: 493,
 652: 494,
 653: 497,
 654: 502,
 655: 505,
 656: 508,
 657: 510,
 658: 516,
 659: 520,
 660: 524,
 661: 532,
 662: 536,
 663: 537,
 664: 540,
 665: 542,
 666: 546,
 667: 548,
 668: 569,
 669: 575,
 670: 587,
 671: 606,
 672: 609,
 673: 616,
 674: 628,
 675: 631,
 676: 637,
 677: 640,
 678: 662,
 679: 667,
 680: 694,
 681: 697,
 682: 700,
 683: 704,
 684: 709,
 685: 710,
 686: 711,
 687: 719,
 688: 747,
 689: 762,
 690: 765,
 691: 775,
 692: 783,
 693: 795,
 694: 799,
 695: 801,
 696: 802,
 697: 818,
 698: 830,
 699: 835,
 700: 837,
 701: 838,
 702: 839,
 703: 842,
 704: 848,
 705: 852,
 706: 867,
 707: 880,
 708: 881,
 709: 888,
 710: 891,
 711: 979,
 712: 981,
 713: 986,
 714: 991,
 715: 996,
 716: 999,
 717: 1004,
 718: 1006,
 719: 1061,
 720: 1064,
 721: 1082,
 722: 750,
 723: 924,
 724: 1101,
 725: 1246,
 726: 1584,
 727: 1610,
 728: 1682,
 729: 1784,
 730: 1917,
 731: 2671,
 732: 2688,
 733: 2701,
 734: 2717,
 735: 3114,
 736: 3354,
 737: 3623,
 738: 3869,
 739: 3916,
 740: 3977,
 741: 3994,
 742: 4018,
 743: 4223,
 744: 4306,
 745: 4310,
 746: 4370,
 747: 4643,
 748: 4700,
 749: 4844,
 750: 4874,
 751: 4886,
 752: 4963,
 753: 4993,
 754: 4995,
 755: 5218,
 756: 5349,
 757: 5378,
 758: 5445,
 759: 5459,
 760: 5464,
 761: 5502,
 762: 5618,
 763: 5816,
 764: 5952,
 765: 5989,
 766: 5991,
 767: 6333,
 768: 6365,
 769: 6534,
 770: 6539,
 771: 6863,
 772: 6934,
 773: 7143,
 774: 7153,
 775: 7155,
 776: 7445,
 777: 8207,
 778: 8360,
 779: 8368,
 780: 8373,
 781: 8528,
 782: 8636,
 783: 8665,
 784: 8666,
 785: 8783,
 786: 8808,
 787: 8865,
 788: 8870,
 789: 8907,
 790: 8908,
 791: 8949,
 792: 8957,
 793: 8958,
 794: 8961,
 795: 8965,
 796: 8970,
 797: 8972,
 798: 8984,
 799: 27741,
 800: 30812,
 801: 30816,
 802: 31878,
 803: 32029,
 804: 32031,
 805: 32296,
 806: 32587,
 807: 33162,
 808: 33493,
 809: 33794,
 810: 33836,
 811: 34048,
 812: 34319,
 813: 37741,
 814: 38388,
 815: 42002,
 816: 45499,
 817: 45517,
 818: 45668,
 819: 45730,
 820: 46530,
 821: 48783,
 822: 48997,
 823: 49272,
 824: 49278,
 825: 49286,
 826: 49824,
 827: 586,
 828: 187,
 829: 627,
 830: 922,
 831: 1037,
 832: 1095,
 833: 1674,
 834: 1987,
 835: 2011,
 836: 2023,
 837: 2300,
 838: 2877,
 839: 2901,
 840: 3173,
 841: 3328,
 842: 3735,
 843: 4131,
 844: 4558,
 845: 5447,
 846: 5451,
 847: 5481,
 848: 5507,
 849: 5841,
 850: 5843,
 851: 5872,
 852: 5890,
 853: 5891,
 854: 5893,
 855: 5902,
 856: 5956,
 857: 5962,
 858: 5965,
 859: 5988,
 860: 6001,
 861: 6044,
 862: 1028,
 863: 1088,
 864: 1247,
 865: 1307,
 866: 3882,
 867: 4447,
 868: 5066,
 869: 5377,
 870: 5620,
 871: 5943,
 872: 5957,
 873: 6155,
 874: 6266,
 875: 6377,
 876: 6535,
 877: 6942,
 878: 7149,
 879: 7151,
 880: 7154,
 881: 7169,
 882: 7293,
 883: 7375,
 884: 7451,
 885: 7458,
 886: 8529,
 887: 8533,
 888: 8869,
 889: 8969,
 890: 30749,
 891: 31433,
 892: 31685,
 893: 33145,
 894: 33679,
 895: 40629,
 896: 40819,
 897: 41285,
 898: 47099,
 899: 51662,
 900: 51705,
 901: 51834,
 902: 54286,
 903: 56367,
 904: 56949,
 905: 58047,
 906: 59333,
 907: 59421,
 908: 60397,
 909: 60950,
 910: 61250,
 911: 63113,
 912: 63992,
 913: 64969,
 914: 66203,
 915: 68954,
 916: 69406,
 917: 69844,
 918: 70183,
 919: 70293,
 920: 71579,
 921: 72011,
 922: 72330,
 923: 72407,
 924: 72720,
 925: 72737,
 926: 72998,
 927: 73017,
 928: 74450,
 929: 77841,
 930: 78772,
 931: 79091,
 932: 80549,
 933: 81784,
 934: 81845,
 935: 81847,
 936: 82167,
 937: 82499,
 938: 84374,
 939: 86548,
 940: 87222,
 941: 88163,
 942: 88810,
 943: 91104,
 944: 92259,
 945: 94070,
 946: 95167,
 947: 95449,
 948: 95510,
 949: 95543,
 950: 96079,
 951: 97024,
 952: 97938,
 953: 98203,
 954: 103335,
 955: 103339,
 956: 104374,
 957: 105211,
 958: 106489,
 959: 106696,
 960: 107141,
 961: 109374,
 962: 109853,
 963: 112006,
 964: 113275,
 965: 113394,
 966: 119145,
 967: 129428,
 968: 136020,
 969: 137595,
 970: 140110,
 971: 44,
 972: 376,
 973: 511,
 974: 529,
 975: 1100,
 976: 1358,
 977: 1370,
 978: 1385,
 979: 1438,
 980: 1518,
 981: 1586,
 982: 1604,
 983: 1608,
 984: 1616,
 985: 1687,
 986: 1693,
 987: 1721,
 988: 1840,
 989: 1882,
 990: 1918,
 991: 2002,
 992: 2027,
 993: 1357,
 994: 1405,
 995: 1876,
 996: 2072,
 997: 2100,
 998: 2421,
 999: 2485,
 ...}

In [51]:
df_ratings_user = df_ratings['userId']
# df_ratings['user_index'] = 
df_ratings_user.apply(lambda  x: user2index[x])

df_ratings_user
# user2index(df_ratings['userId'])
# df_ratings['userId']

0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
         ...
100806    610
100807    610
100808    610
100809    610
100810    610
100811    610
100812    610
100813    610
100814    610
100815    610
100816    610
100817    610
100818    610
100819    610
100820    610
100821    610
100822    610
100823    610
100824    610
100825    610
100826    610
100827    610
100828    610
100829    610
100830    610
100831    610
100832    610
100833    610
100834    610
100835    610
Name: userId, Length: 100836, dtype: int32

In [56]:
df_ratings['user_index'] = df_ratings['userId'].map(lambda x: user2index[x])
df_ratings['movie_index'] = df_ratings['movieId'].map(lambda x: movie2index[x])
df_ratings

        userId  movieId  rating  user_index  movie_index
0            1        1     4.0           0            0
1            1        3     4.0           0            1
2            1        6     4.0           0            2
3            1       47     5.0           0            3
4            1       50     5.0           0            4
5            1       70     3.0           0            5
6            1      101     5.0           0            6
7            1      110     4.0           0            7
8            1      151     5.0           0            8
9            1      157     5.0           0            9
10           1      163     5.0           0           10
11           1      216     5.0           0           11
12           1      223     3.0           0           12
13           1      231     5.0           0           13
14           1      235     4.0           0           14
15           1      260     5.0           0           15
16           1      296     3.0           0           16
17           1      316     3.0           0           17
18           1      333     5.0           0           18
19           1      349     4.0           0           19
20           1      356     4.0           0           20
21           1      362     5.0           0           21
22           1      367     4.0           0           22
23           1      423     3.0           0           23
24           1      441     4.0           0           24
25           1      457     5.0           0           25
26           1      480     4.0           0           26
27           1      500     3.0           0           27
28           1      527     5.0           0           28
29           1      543     4.0           0           29
...        ...      ...     ...         ...          ...
100806     610   150401     3.0         609         8020
100807     610   152077     4.0         609         1087
100808     610   152081     4.0         609         1088
100809     610   152372     3.5         609         9717
100810     610   155064     3.5         609         4820
100811     610   156371     5.0         609         4821
100812     610   156726     4.5         609         6583
100813     610   157296     4.0         609         4001
100814     610   158238     5.0         609         1383
100815     610   158721     3.5         609         9718
100816     610   158872     3.5         609         1089
100817     610   158956     3.0         609         8048
100818     610   159093     3.0         609         1385
100819     610   160080     3.0         609         4610
100820     610   160341     2.5         609         9719
100821     610   160527     4.5         609         9720
100822     610   160571     3.0         609         8649
100823     610   160836     3.0         609         9721
100824     610   161582     4.0         609         1387
100825     610   161634     4.0         609         4827
100826     610   162350     3.5         609         1388
100827     610   163937     3.5         609         9722
100828     610   163981     3.5         609         9723
100829     610   164179     5.0         609         1390
100830     610   166528     4.0         609         1091
100831     610   166534     4.0         609         3120
100832     610   168248     5.0         609         2035
100833     610   168250     5.0         609         3121
100834     610   168252     5.0         609         1392
100835     610   170875     3.0         609         2873

[100836 rows x 5 columns]

In [57]:
index2movie[2873]

170875

In [58]:
index2movie[9723]

163981

In [60]:
df_ratings['user_index'].values

array([  0,   0,   0, ..., 609, 609, 609], dtype=int64)

In [61]:
len(df_ratings)

100836

In [62]:
movie_path = 'dataset/ml-latest-small/movies.csv'
df_movies = pd.read_csv(movie_path, index_col='movieId')
df_movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [75]:
df_movies.loc[[10,1,2,3]]

                           title                                       genres
movieId
10              GoldenEye (1995)                    Action|Adventure|Thriller
1               Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                 Jumanji (1995)                   Adventure|Children|Fantasy
3        Grumpier Old Men (1995)                               Comedy|Romance

In [24]:
num_users = len(df_ratings.userId.unique())
num_items = len(df_ratings.movieId.unique())
print('There are {} unique users and {} unique movies in this data set'.format(num_users, num_items))

There are 610 unique users and 9724 unique movies in this data set

In [25]:
user_maxId = df_ratings.userId.max()
item_maxId = df_ratings.movieId.max()
print('There are {} distinct users and the max of user ID is also {}'.format(num_users, user_maxId))
print('There are {} distinct movies, however, the max of movie ID is {}'.format(num_items, item_maxId))
print('In the context of matrix factorization, the current item vector is in unnecessarily high dimensional space')
print('So we need to do some data cleaning to reduce the dimension of item vector back to {}'.format(num_items))

There are 610 distinct users and the max of user ID is also 610
There are 9724 distinct movies, however, the max of movie ID is 193609
In the context of matrix factorization, the current item vector is in unnecessarily high dimensional space
So we need to do some data cleaning to reduce the dimension of item vector back to 9724

In [26]:

def reduce_item_dim(df_ratings):
    """
    Reduce item vector dimension to the number of distinct items in our data sets
    
    input: pd.DataFrame, df_ratings should have columns ['userId', 'movieId', 'rating']
    output: pd.DataFrame, df_ratings with new 'MovieID' that is compressed
    """
    # pivot
    df_user_item = df_ratings.pivot(index='userId', columns='movieId', values='rating')
    # reset movieId
    df_user_item = df_user_item.T.reset_index(drop=True).T
    # undo pivot/melt - compress data frame
    df_ratings_new = df_user_item \
        .reset_index('userId') \
        .melt(
            id_vars='userId', 
            value_vars=df_user_item.columns,
            var_name='movieId',
            value_name='rating')
    # drop nan and final clean up
    return df_ratings_new.dropna().sort_values(['userId', 'movieId']).reset_index(drop=True)

In [27]:
print('reduce item dimension before:')
df_ratings.head(10)
df_ratings.describe()

reduce item dimension before:

              userId        movieId         rating
count  100836.000000  100836.000000  100836.000000
mean      326.127564   19435.295718       3.501557
std       182.618491   35530.987199       1.042529
min         1.000000       1.000000       0.500000
25%       177.000000    1199.000000       3.000000
50%       325.000000    2991.000000       3.500000
75%       477.000000    8122.000000       4.000000
max       610.000000  193609.000000       5.000000

In [29]:
df_ratings.columns

Index(['userId', 'movieId', 'rating'], dtype='object')

In [30]:
df_ratings = reduce_item_dim(df_ratings)
print('reduce item dimension after:')
df_ratings.head(10)

reduce item dimension after:

   userId movieId  rating
0       1       0     4.0
1       1       2     4.0
2       1       5     4.0
3       1      43     5.0
4       1      46     5.0
5       1      62     3.0
6       1      89     5.0
7       1      97     4.0
8       1     124     5.0
9       1     130     5.0

In [31]:
df_ratings.describe()

              userId         rating
count  100836.000000  100836.000000
mean      326.127564       3.501557
std       182.618491       1.042529
min         1.000000       0.500000
25%       177.000000       3.000000
50%       325.000000       3.500000
75%       477.000000       4.000000
max       610.000000       5.000000

In [32]:
df_ratings.columns

Index(['userId', 'movieId', 'rating'], dtype='object')